@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<IPublishedContent>>

@if (Model?.Any() == true)
{
    <section id="our-services">
        <div class="container">
            <div class="headline">
                <h2 class="title">@* Our Services *@</h2>
            </div>
            <div class="services">
                @foreach (var item in Model)
                {
                    var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var preamble = item?.Value<string>("preamble") ?? "";

                    <a href="@item.Url()">
                        <div class="item">
                            <div @* class="header" *@>
                                <h4>@item.Name</h4>
                            </div>
                            <div @* class="body" *@>
                                <img src="@image" alt="@item.Name">
                            </div>
                            <div>
                                <p>@preamble</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>
}
